/* ================================= 
  Base Element Styles
==================================== */
/*
the gray back was #aca9a9 => 92b212
the gray text was #3a3a3a => 024db2
the banner back   #787777 => 3A5950

			"#024db2" => "cobalt",
			"#92b212" => "spring green",
			"#59463A" => "pumpernickel",
			"#ff5019" => "safety orange",
			"#A44124" => "Prairie Sand", 
			"#B27500" => "Dark Gold", 
			"#AE19FF" => "Electric Violet", 
			"#12ADB2" => "Blue Chill", 
			"#3A5950" => "Mineral Green", 
*/

* {
	box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	margin: 0;
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h1,
h2,
h3 {
	margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
*/
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.37em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
  background-color: #999;  
}
.even-nav {
  background-color: #615f5f; 
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 0 15px;
}
.name a img {
	height: 130px;
}
.main-nav a {
	font-size: .95em;
	color: #fff;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
  background: #3A5950;
  border-radius: .35em;	
	padding: 1em;
  margin: 0 .5em .8em;    
}
.banner { 
	color: #fff;
  background-color: #3A5950;
	padding: 3em 0;
  width: 100%;
}

.col {
	padding: 1em;
  border-radius: .35em;
  margin: 0 .5em .8em;    
/*  background: #3A5950;*/
}

#foot {
	background: #999;
  color: #e3eaee;
}
#foot foot {
	text-align: center;
}

.center {
  text-align: center;
}
.container {
  background-color: #3A5950; 
  flex: 1;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}
/* selected nav link */
nav a.selected, nav a:hover {
  color: #787777;
}


/* ================================= 
  Media Queries
none = all
769  = ipad, full
1025 = full
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row_02 {
		display: flex;
    width: 100%;
		margin: 0 auto;
	}
  .main-nav {
    background: none;      
  }  
  .banner {
    padding: 40px 0;
  }
	.tagline {
		font-size: 1.4em;
	}
  .row_02 {
    flex-wrap: 0;
  }
  .about_pic {
    max-width: 40%; 
  }
}

@media (min-width: 1025px) {
  .main-header {		
		padding: 1em;
	  border-radius: .35em;
	  margin: 0 .5em .8em;    
  }
  header {
    border-bottom: 3px solid #999;
  }
  .main-nav {
    background: none;       
  }
  .banner {
    padding: 2em; 
  }
}