/* ================================= 
	My media stuff
Taxonomy:
bigger		Medium and  Large
smallest 	Small

look_box
read_box
search_box
map_box

==================================== */

/* Medium (iPad) and Large (laptop/desktop)*/
@media (min-width: 769px) {
	.bigger {
	}
	.smallest {
		display: none;
	}
	.big_button {
		height: 60px;
	}
}

/*  Large (laptop/desktop) */
@media (min-width: 1025px) {
	.big_button {
		height: 160px;
	}
}

/* Every size - Small (mobile) and Medium (iPad) and Large (laptop/desktop)*/
	.bigger {
		display: none;
	}
	.smallest {
	}

	.page_explain {
		text-align: center;
	}	
	.big_button {
		text-align: center;
	}
