/* ================================= 
  Base Styles
==================================== */

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
    flex-grow: 1;     
}

.row {
    flex: 1;
}

.banner {
    text-align: center;
    background: #fff url('../resources/img/Whu_placeholder_jambotron.jpg') no-repeat center;
    background-size: cover;
    padding: 3em 0;
    margin-top: 3.5em; 
}

.bg-faded {
    background-color: #3A5950;
}

					header {
						height: 120px;
					}
					#main-menu {
						padding-top: 1.5rem;
						font-weight: bold;
						font-size: 120%;
					}
					#main-menu a {
						color: #F84F33;
					}
					#main-menu a:hover {
/*						color: #35dcf7;*/
						color: #ddd;
/*						color: #20549E;*/
					}
			    .btn-outline-success {
			        color: #fff; 
			    }
			    footer {
			        background-color: #3A5950;
			    }
			    .footer-inner {
			        text-align: center; 
							padding: .5rem 0;
			    }

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	
	#mysize:after {
		content: "min-width: 769px";
	}
	
	.main-header,
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {
	
	#mysize:after {
		content: "min-width: 1025px";
	}

	.main-header {
		flex-direction: row;
		justify-content: space-between;      
	}

}


